@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body{
    width: 100vw;
    margin: 0;
}
header{
    height: 12vh;
    margin-left: -55px;
    padding: 2% 15% 2% 13%;
    display: flex;
    align-items: center;
}
nav{
    display: inline-flex;
    padding: 0 0 0 13%;
    margin-left: -55px;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 20px;
}

a{
    font-family: 'Rubik', sans-serif;
    color: #99A2AA;
    font-size: 16px;
    align-items: flex-start;
    text-decoration: none;
}
main{
    margin-bottom: -10px;
    position: relative;
    height: 61vh;
    background-color:  #FEC524;
    color: #FFF;
    padding: 0 0 0 13%;

}

.text {
    width: 40vw;
    height: 31vh;
    margin-top: 5px;
    margin-left: -55px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
main h1{
    font-family: 'Rubik', sans-serif;
    font-size: 44px;
    margin: 0;
}
main p{
    height: 4vh;
    color: #0E2F4B;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;


}
input[type=number]{
    width: 40vw;
    height: 11vh;
    position: absolute;
    margin-bottom: 20px;
    margin-left: -54px;
    bottom: 35px;
    border-radius: 10px;
    border: solid #FFF;
    background: #FFF;

}

input[type=kalkulator]{
    width: 15vw;
    height: 9vh;
}

/*......................................................service block.........................................................*/
.service{
    width: 100vw;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;

}
.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    margin-right: 80px;
    position: relative;
    bottom: 20px;
}

.svg1, .svg2, .svg3, .svg4{
    width: 19vw;
    height: 11vh;
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/*................................................block2------------............................................*/
#block2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.paragraph{
    width: 32vw;
    margin-left: 110px;
}
.paragraph h2{
    color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    margin: 0;
    line-height: 60px;
}
.paragraph h3{
    color: #0E2F4B;
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    margin-top: 0;


}
.paragraph p{
    color: #0E2F4B;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;

}
.one{
    width: 26vw;
    height: 15vh;
    margin-bottom: 15vh;
}
.one p{
     color: #0E2F4B;
     font-family:  'Rubik', sans-serif;
     font-size: 14px;

}


.one h1, h2{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.one h2{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.two{
    width: 26vw;
    height: 15vh;
    margin-bottom: 15vh;
}

.two h1{
        color: #0E2F4B;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin-bottom: 0;

    }
.two h2{
        color: #0E2F4B;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin-bottom: 0;
}
.two p{
        color: #0E2F4B;
    font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-style: normal;
}
.three{
    width: 26vw;
    height: 15vh;
    margin-bottom: 15vh;
}

.three h1 {
   color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.three h2 {
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.three p{
    color: #0E2F4B;
    font-family:  'Rubik', sans-serif;
    font-size: 14px;
}
.one1{
    width: 26vw;
    height: 15vh;
    margin-bottom: 15vh;
     color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

}
.one1 h1{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.one1 h2{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.one1 p{
    font-size: 14px;
    font-family:  'Rubik', sans-serif;
}


.two2 h1{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.two2 p{
    font-size: 14px;
    font-family:  'Rubik', sans-serif;
}
.three3 h1{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.three3 h2{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.three3 p{
    font-size: 14px;
    font-family:   'Rubik', sans-serif;
}
.one .two .three .one1 .two2 .three3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*.................................................block3........................................................*/
.cont h1, h2{
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    color: #F8F8F8;
    margin-bottom: 0;
    margin-top: 0 ;
}
.cont p{
    color: #99A2AA;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}
input[type=submit]{
    height: 10vh;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: #FDC13D ;
    color: #0E2F4B;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 0;

}
/*.....................................................block4..........................................................*/

.box2{
    width: 84vw;
    height: 270px;
    display: flex;

}
.title h1{
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    margin-top: 120px;
    color: #0E2F4B;;
}
.box3 h1 {
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}
.box3 h2{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}
.box3 p{
    font-size: 14px;
    font-family:  'Rubik', sans-serif;
}
.box4 h1{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}
.box4 h2{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}
.box4 p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
.box5 h1{
    color: #0E2F4B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}
.box5 p{
    font-size: 14px;
    font-family:  'Rubik', sans-serif;
}
.tab{
    width: 83vw;
    height: 220px;
    border: 1px solid #FDC13D;
    border-radius: 10px;
    background: #FDC13D;
    margin-top: 100px;
}
.tab h1{
    font-size: 24px;
    margin-top: 52px;
    margin-right: 75px;
    margin-left: 75px;

}
.tab p{
   font-size: 16px;
    font-family:  'Rubik', sans-serif;
    color: #0E2F4B;
    padding-left: 75px;
    padding-right: 0;
}
/*.......................................................block5........................................................*/
.block52 h2{
    color: #F8F8F8;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    margin-top: 134px;
    margin-bottom: 20px;
}
.block52 p{
    color: #99A2AA;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 0;
}

input[type=text]{
    width: 35vw;
    height: 78px;
    display: flex;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background: #FFF;

}
input[type=submit]{
    width: 17vw;
    height: 80px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FDC13D;
    margin-left: 2vw;
}
.block51{
    margin-right: 120px;
    margin-left: 120px;
}
.block52{
    width: 83vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0;
}
form{
    display: flex;
    margin-top: 90px;
    padding-right: 5px;
}





